<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <!--屏幕打印消息-->
        <target name="console" xsi:type="ColoredConsole"
                        layout="${date:format=HH\:mm\:ss}> ${message}"/>
        
        <!--VS输出窗口-->
        <target name="debugger" xsi:type="Debugger"
                        layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />

        <!--保存至文件-->
        <target name="error_file" xsi:type="File" maxArchiveFiles="365"
                        fileName="${basedir}/NLogs/${level}/${shortdate}/${shortdate}.txt"
                        archiveAboveSize="2048000"
                        layout="${longdate} |${callsite} | ${callsite-linenumber}| ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    </targets>
    <rules>
        <!--<logger name="*" writeTo="console" />-->
        <logger name="*" minlevel="Debug" writeTo="debugger" />
        <logger name="*" minlevel="Debug" writeTo="error_file" />
    </rules>
</nlog>