<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DMTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DMTools.Properties.Settings>
            <setting name="lifeProtect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lifeProtectValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pingProtect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pingProtectValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pingProtectCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="healingPotion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="healingPotionValue" serializeAs="String">
                <value>80</value>
            </setting>
        </DMTools.Properties.Settings>
    </userSettings>
</configuration>